body {
	font-family: 'Domine', serif;
	margin: 0px;
	text-align: center;
	background-color: #f4f4f4;
}

.container {
  width: 700px; 
  margin: 40px auto; 
}

.img-dim
{
	top: 30px;
	left: 80%;
	width:100px;
	height:100px;
}

.fas
{
	color:black;
}
.card-white
{
	text-align: center;
	box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 20px ;
	padding-bottom: 40px;
	border-radius: 1%;
	background-color: white;
}

.img-circle
{
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
	border-radius: 50%;
}

h1
{
	font-size: 35px;
	color: #202040;
}

h1, h2
{
	font-family: 'Lato', sans-serif;
}

h2
{

	font-size: 23px;
	color: #543864;
}

.button-form
{
	margin-top: 20px;
}
.button
{	
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: white;
	background-color: #8566aa;
	border-radius: 10px;
	padding: 7px 12px;
}

.button:hover{
	transition-duration: 0.3s;
	background-color: #8ec6c5;
}

.contact{
	font-size:60px;
	color: #8566aa;
}

.contact:hover{
	transition-duration: 0.3s;
	color: #8ec6c5;
}

ul{
	list-style: none;
	padding-left: 0px;
}

li{
	display: inline;
	padding: 0 20px;
}

@media(max-width: 760px){
	.container {
		width: 600px;
	}
}
